* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 15% auto;
  width: 720px;
  text-align: center;
}
.tab-header {
  display: flex;
  position: relative;
}
.tab-item {
  color: #c23564;
  font-size: 24px;
  opacity: 0.6;
  cursor: pointer;
  padding: 10px 20px;
}
.tab-item.active {
  opacity: 1;
}
.line {
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: #c23564;
  border-radius: 0;
}
